//  normalize reset

@import 'reset';
@import 'fonts';

/*  CSS document  --  PLEASE EDIT THE SCSS FILE  */

//  sass variables

$body-font: 'Avenir-Medium', Arial,Helvetica Neue,Helvetica,sans-serif;  //  body font
$header-font: 'Avenir-Heavy', Arial,Helvetica Neue,Helvetica,sans-serif;  //  header font
$body-font-size: 16px;  //  body font size
$pc: #000000;  //  primary color
$sc: #666666;  //  secondary color
$bc: #ffffff;  //  background color
$mw: 750px;  //  med width
$nw: 500px;  //  narrow width
$fw: 1000px;  //  full width

//  base

body{
    font-family: $body-font;
    font-size: $body-font-size;
    color: $pc;
    line-height: 1.4em;
    background: $bc;
}

p{ margin-top: 0; padding-top: 0; }

//  Links

a:link { text-decoration: none; color: $sc; }
a:active { text-decoration: none; color: $sc; }
a:visited { text-decoration: none; color: $sc; }
a:hover { text-decoration: none; color: $pc; }
a img { border: none; }

//  header

header{
    max-width: $mw;
    padding: 0 20px;
    margin: 0 auto;
}

.menu-primary-menu-container{
    margin: 100px auto 0 auto;
    width: 260px;
    display: block;
}

.menu-primary-menu-container{
    ul li{
        display: block;
        float: left;
        font-family: $header-font;
        text-transform: uppercase;
        padding: 10px 10px;
    }
    ul li a{ color: $pc; }
}

li.current-menu-item a, li.current_page_item a{ color: $sc !important; }

a.custom-logo-link{
    display: block;
    clear: both;
    margin: 0 auto 20px auto;
    padding: 100px 0 0 0;
    width: 100%;
}

a.custom-logo-link img{
    width: 100% !important;
    height: auto !important;
    clear: both;
    margin: 0;
    padding: 0;
}

//  loader

#loader-1{ opacity: 0; transition: opacity 0.4s; }

.loader{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: fixed;
    top: 20px;
    left: 20px;
    margin: 0 auto;
}

#loader-1:before, #loader-1:after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    border: 3px solid transparent;
    border-top-color: $pc;
}

#loader-1:before{ z-index: 100; animation: spin 1s infinite; }
#loader-1:after{ border: 3px solid #ccc; }

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

//  index

article{ clear: both; }

#main{
    max-width: $fw;
    padding: 0 20px;
    margin: 0 auto;
}

section.body-cont{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 60px 0;
}

h1{
    font-family: $header-font;
    font-weight: normal;
    padding: 0;
    text-transform: capitalize;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 60px 0;
    line-height: 1.6em;
}

h1 a{ color: $pc !important; }

//  image options

section.images{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    .post-image{
        width: 100%;
        height: auto;
        margin: 10px 0;
        background-size: cover;
        background-position: center center;
        img{
            opacity: 0 !important;
        }
    }
}

article.post {  //  default stacked category formatting
    section.images{
        max-width: $mw;
        margin: 0 auto;
        padding: 0 0 1% 0;
        float: none;
        .post-image{
            max-width: $mw;
            float: none;
            img{
                width: 100%;
            }
        }
    }
    .border{
        display: block;
        width: 50px;
        height: 1px;
        margin: 0 auto 0 auto;
        padding: 80px 0 0 0;
        border-bottom: 1px solid $pc;
        clear: both;
        transition: 0.6s all;
    }
    &:last-child .border{
        margin: 0 auto 25px auto;
        width: 300px;
    }
}

article.single{
    .border{
        margin: 0 auto 100px auto;
    }
}

article.narrow {  //  narrow category formatting
    section.images{
        max-width: $nw;
        margin: 0 auto;
        padding: 0 0 1% 0;
        float: none;
        .post-image{
            max-width: $nw;
            float: none;
            img{
                width: 100%;
            }
        }
    }
}

article.portrait {  //  portrait category formatting
    section.images{
        max-width: $nw;
        margin: 0 auto;
        padding: 0 0 1% 0;
        float: none;
        .post-image{
            max-width: $nw;
            float: none;
            img{
                width: 100%;
            }
        }
    }
}

article.two-column {  //  two col category formatting
    section.images{
        max-width: $mw;
        margin: 0 auto;
        padding: 0 0 1% 0;
        float: none;
        .post-image{
            max-width: 48%;
            margin: 0 1% 2% 1%;
            float: left;
            img{
                width: 100%;
            }
        }
    }
}

article.two-column-wide {  //  two col wide category formatting
    section.images{
        max-width: $fw;
        margin: 0 auto;
        padding: 0 0 1% 0;
        float: none;
        .post-image{
            max-width: 48%;
            margin: 0 1% 2% 1%;
            float: left;
            img{
                width: 100%;
            }
        }
    }
}

article.three-column {  //  three col category formatting
    section.images{
        max-width: $mw;
        margin: 0 auto;
        padding: 0 0 1% 0;
        float: none;
        .post-image{
            max-width: 31%;
            margin: 0 1% 2% 1%;
            float: left;
            img{
                width: 100%;
            }
        }
    }
}

article.three-column-wide {  //  three col wide category formatting
    section.images{
        max-width: $fw;
        margin: 0 auto;
        padding: 0 0 1% 0;
        float: none;
        .post-image{
            max-width: 31%;
            margin: 0 1% 2% 1%;
            float: left;
            img{
                width: 100%;
            }
        }
    }
}

#arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid $pc;
    position: fixed;
    bottom: 25px;
    left: 25px;
    cursor: pointer;
    z-index: 999;
    opacity: 0;
    display: none;
    transition: opacity 0.4s;
}

//  page

#left, #right{ float: left; }
#left{ width: 30%; padding: 0 5% 0 0; }
#right{ width: 65%; }

#right img{
    width: 100%;
    height: auto;
    display: block;
    padding: 60px 0 0 0;
}

#left h1{
    text-align: left;
    margin: 0;
    max-width: 100%;
    padding: 80px 0 50px 0;
}

.page{
    .border{
        display: block;
        width: 100px;
        height: 1px;
        padding: 80px 0 0 0;
        border-bottom: 1px solid $pc;
        clear: both;
        margin: 0 auto 100px auto;
    }
}

//  splash

#flicker-holder{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #020a0a;
}

#flicker-logo{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/on-black.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}

#flicker-logo img{ max-width: 100%; opacity: 0; }
.flicker-holder-on{ background: $bc !important; }
.flicker-holder-on #flicker-logo{ background-image: url(../img/on-white.png) !important; }

/*  media queries  */

//  750px max

@media all and (max-width: $mw) {
    section.images, section.images img{ width: 100%; max-width: 100%; }
    #left, #right{ width: 100%; float: none; }
    .page h1, .page p{ text-align: center !important; }
}

//  500px max

@media all and (max-width: 500px) {
    section.images img{
        padding: 0 0 5px 0 !important;
        float: none !important;
        width: 100% !important;
    }
    article.post {  //  grid category formatting
        section.images{
            .post-image{
                max-width: $mw !important;
                margin: 0 0 2% 0;
                float: none;
            }
        }
    }
}
