/*! normalize.css 2012-01-31T16:06 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
html {
  -webkit-font-smoothing: antialiased; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dd {
  margin: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none; }

/*  font declarations  */
@font-face {
  font-family: 'Avenir-Medium';
  src: url("../font/Avenir-Medium-webfont.eot");
  src: url("../font/Avenir-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Avenir-Medium-webfont.woff") format("woff"), url("../font/Avenir-Medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Avenir-Heavy';
  src: url("../font/Avenir-Heavy-webfont.eot");
  src: url("../font/Avenir-Heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Avenir-Heavy-webfont.woff") format("woff"), url("../font/Avenir-Heavy-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*  CSS document  --  PLEASE EDIT THE SCSS FILE  */
body {
  font-family: "Avenir-Medium", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.4em;
  background: #ffffff; }

p {
  margin-top: 0;
  padding-top: 0; }

a:link {
  text-decoration: none;
  color: #666666; }

a:active {
  text-decoration: none;
  color: #666666; }

a:visited {
  text-decoration: none;
  color: #666666; }

a:hover {
  text-decoration: none;
  color: #000000; }

a img {
  border: none; }

header {
  max-width: 750px;
  padding: 0 20px;
  margin: 0 auto; }

.menu-primary-menu-container {
  margin: 100px auto 0 auto;
  width: 260px;
  display: block; }

.menu-primary-menu-container ul li {
  display: block;
  float: left;
  font-family: "Avenir-Heavy", Arial, Helvetica Neue, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 10px 10px; }

.menu-primary-menu-container ul li a {
  color: #000000; }

li.current-menu-item a, li.current_page_item a {
  color: #666666 !important; }

a.custom-logo-link {
  display: block;
  clear: both;
  margin: 0 auto 20px auto;
  padding: 100px 0 0 0;
  width: 100%; }

a.custom-logo-link img {
  width: 100% !important;
  height: auto !important;
  clear: both;
  margin: 0;
  padding: 0; }

#loader-1 {
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s; }

.loader {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: fixed;
  top: 20px;
  left: 20px;
  margin: 0 auto; }

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  border: 3px solid transparent;
  border-top-color: #000000; }

#loader-1:before {
  z-index: 100;
  -webkit-animation: spin 1s infinite;
          animation: spin 1s infinite; }

#loader-1:after {
  border: 3px solid #ccc; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

article {
  clear: both; }

#main {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto; }

section.body-cont {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 60px 0; }

h1 {
  font-family: "Avenir-Heavy", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: normal;
  padding: 0;
  text-transform: capitalize;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 60px 0;
  line-height: 1.6em; }

h1 a {
  color: #000000 !important; }

section.images {
  max-width: 100%;
  margin: 0 auto;
  text-align: center; }
  section.images .post-image {
    width: 100%;
    height: auto;
    margin: 10px 0;
    background-size: cover;
    background-position: center center; }
    section.images .post-image img {
      opacity: 0 !important; }

article.post section.images {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 0 1% 0;
  float: none; }
  article.post section.images .post-image {
    max-width: 750px;
    float: none; }
    article.post section.images .post-image img {
      width: 100%; }

article.post .border {
  display: block;
  width: 50px;
  height: 1px;
  margin: 0 auto 0 auto;
  padding: 80px 0 0 0;
  border-bottom: 1px solid #000000;
  clear: both;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all; }

article.post:last-child .border {
  margin: 0 auto 25px auto;
  width: 300px; }

article.single .border {
  margin: 0 auto 100px auto; }

article.narrow section.images {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 0 1% 0;
  float: none; }
  article.narrow section.images .post-image {
    max-width: 500px;
    float: none; }
    article.narrow section.images .post-image img {
      width: 100%; }

article.portrait section.images {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 0 1% 0;
  float: none; }
  article.portrait section.images .post-image {
    max-width: 500px;
    float: none; }
    article.portrait section.images .post-image img {
      width: 100%; }

article.two-column section.images {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 0 1% 0;
  float: none; }
  article.two-column section.images .post-image {
    max-width: 48%;
    margin: 0 1% 2% 1%;
    float: left; }
    article.two-column section.images .post-image img {
      width: 100%; }

article.two-column-wide section.images {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0 1% 0;
  float: none; }
  article.two-column-wide section.images .post-image {
    max-width: 48%;
    margin: 0 1% 2% 1%;
    float: left; }
    article.two-column-wide section.images .post-image img {
      width: 100%; }

article.three-column section.images {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 0 1% 0;
  float: none; }
  article.three-column section.images .post-image {
    max-width: 31%;
    margin: 0 1% 2% 1%;
    float: left; }
    article.three-column section.images .post-image img {
      width: 100%; }

article.three-column-wide section.images {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0 1% 0;
  float: none; }
  article.three-column-wide section.images .post-image {
    max-width: 31%;
    margin: 0 1% 2% 1%;
    float: left; }
    article.three-column-wide section.images .post-image img {
      width: 100%; }

#arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #000000;
  position: fixed;
  bottom: 25px;
  left: 25px;
  cursor: pointer;
  z-index: 999;
  opacity: 0;
  display: none;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s; }

#left, #right {
  float: left; }

#left {
  width: 30%;
  padding: 0 5% 0 0; }

#right {
  width: 65%; }

#right img {
  width: 100%;
  height: auto;
  display: block;
  padding: 60px 0 0 0; }

#left h1 {
  text-align: left;
  margin: 0;
  max-width: 100%;
  padding: 80px 0 50px 0; }

.page .border {
  display: block;
  width: 100px;
  height: 1px;
  padding: 80px 0 0 0;
  border-bottom: 1px solid #000000;
  clear: both;
  margin: 0 auto 100px auto; }

#flicker-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #020a0a; }

#flicker-logo {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/on-black.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0; }

#flicker-logo img {
  max-width: 100%;
  opacity: 0; }

.flicker-holder-on {
  background: #ffffff !important; }

.flicker-holder-on #flicker-logo {
  background-image: url(../img/on-white.png) !important; }

/*  media queries  */
@media all and (max-width: 750px) {
  section.images, section.images img {
    width: 100%;
    max-width: 100%; }
  #left, #right {
    width: 100%;
    float: none; }
  .page h1, .page p {
    text-align: center !important; } }

@media all and (max-width: 500px) {
  section.images img {
    padding: 0 0 5px 0 !important;
    float: none !important;
    width: 100% !important; }
  article.post section.images .post-image {
    max-width: 750px !important;
    margin: 0 0 2% 0;
    float: none; } }
